name = "spot-subscribe"
main = "worker.js"
compatibility_date = "2025-10-01"

# Your custom domain for the Worker
routes = [
  { pattern = "subscribe.spot.utilitarian.io/*", zone_name = "utilitarian.io" }
]

# Bind your KV namespace for subscriptions and timestamps
[[kv_namespaces]]
binding = "subscriptions"
id = "340f4e03fe814c2495027761d9e39c85"


# Worker variables
[vars]
ALLOWED_ORIGINS = "https://spot.utilitarian.io,http://localhost:8001"

# Enable smart placement (Cloudflare auto chooses EU or global edge)
[placement]
mode = "smart"

# Compatibility flags if you want the latest APIs (optional)
# compatibility_flags = ["nodejs_compat"]

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true