name: Get spot prices

on:
  workflow_dispatch:
  schedule:
    - cron: "30 * * * *"

jobs:
  get_spot_prices:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: list timezones
      run: timedatectl list-timezones
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Install deps
      run: pip install -r requirements.txt
    - name: Update SE1
      run:  python scripts/transparancy.py get-day-ahead-prices --price-area=SE1 --security-token=${{ secrets.TRANSPARENCY_PLATFORM_SECURITY_TOKEN }}
    - name: Update SE2
      run:  python scripts/transparancy.py get-day-ahead-prices --price-area=SE2 --security-token=${{ secrets.TRANSPARENCY_PLATFORM_SECURITY_TOKEN }}
    - name: Update SE3
      run:  python scripts/transparancy.py get-day-ahead-prices --price-area=SE3 --security-token=${{ secrets.TRANSPARENCY_PLATFORM_SECURITY_TOKEN }}
    - name: Update SE4
      run:  python scripts/transparancy.py get-day-ahead-prices --price-area=SE4 --security-token=${{ secrets.TRANSPARENCY_PLATFORM_SECURITY_TOKEN }}
    - name: Update DK1
      run:  python scripts/transparancy.py get-day-ahead-prices --price-area=DK1 --security-token=${{ secrets.TRANSPARENCY_PLATFORM_SECURITY_TOKEN }}
    - name: Update DK2
      run:  python scripts/transparancy.py get-day-ahead-prices --price-area=DK2 --security-token=${{ secrets.TRANSPARENCY_PLATFORM_SECURITY_TOKEN }}

    - name: setup git config
      run: |
         # setup the username and email. 
         git config user.name "GitHub Actions Bot"
         git config user.email "<>"
    - name: check for changes
      run: git status
    - name: stage changed files
      run: git add .
    - name: commit changed files
      run: git commit -m "Added new prices"
    - name: pull from master
      run: git pull origin main
    - name: push code to master
      run: git push origin main